.container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  -moz-osx-fontk-smoothing: grayscale;
  backface-visibility: hidden;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
